.classPic{
  background-image: url('../assets/img/skill-bg.jpg');
  background-size: cover;
  background-position: center center;
}
.classPicSize{
    max-width: 83%;
    max-height: 90%;
    min-height: 250px;
}