@import './scss/color';
@import './scss/bootstrap';
@import './scss/hero';
@import './scss/about';
@import './scss/skills';
@import './scss/portfolioSection.scss';
@import './scss/classPic';
@import './scss/contact';
@import './scss/footer';
@import './scss/loading';

.hovernav:hover{
    color: $primary !important;
}
.toggleIcon:focus{
  box-shadow: none !important;
}

*{
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $secondary;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  border: 2px solid white;
}